<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="../css/template.css">
    <!-- BoxIcons Link -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-home'></i>
            <!-- <img class="logo-img" src="" alt="logo-image"> -->
            <span class="logo-name">Template</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="">
                    <i class='bx bx-home'></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <h3>Tarefas</h3>
            <li>
                <a href="">
                    <i class='bx bx-edit-alt'></i>
                    <span class="link-name">Tarefas Pendentes</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-plus-circle'></i>
                    <span class="link-name">Nova Tarefa</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-table'></i>
                    <span class="link-name">Todas Tarefas</span>
                </a>
            </li>
            <h3>Produto</h3>
            <li>
                <a href="">
                    <i class='bx bx-plus-circle'></i>
                    <span class="link-name">Novo Produto</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-table'></i>
                    <span class="link-name">Estoque</span>
                </a>
            </li>
            <br>
            <li>
                <a href="">
                    <i class='bx bx-log-out' ></i>
                    <span class="link-name">Sair</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>